<div class="container mt-5">
  <h2 class="mb-4">Formulario de Registro</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input
        type="text"
        id="nombre"
        formControlName="nombre"
        class="form-control"
        placeholder="Introduce tu nombre"
      />
      @if (nombre?.touched && nombre?.invalid) {
        <div class="text-danger">
          @if (nombre?.errors?.['required']) {
            <small>El nombre es obligatorio.</small>
          }
          @if (nombre?.errors?.['minlength']) {
            <small>Debe tener al menos 3 caracteres.</small>
          }
          @if (nombre?.errors?.['maxlength']) {
            <small>Debe tener como máximo 30 caracteres.</small>
          }
          @if (nombre?.errors?.['pattern']) {
            <small>Debe ser un nombre válido.</small>
          }
        </div>
      }
    </div>


    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input
        type="text"
        id="apellidos"
        formControlName="apellidos"
        class="form-control"
        placeholder="Introduce tus apellidos"
      />
      @if (apellidos?.touched && apellidos?.invalid) {
        <div class="text-danger">
          @if (apellidos?.errors?.['required']) {
            <small>Los apellidos son obligatorios.</small>
          }
          @if (apellidos?.errors?.['minlength']) {
            <small>Debe tener al menos 3 caracteres.</small>
          }
          @if (apellidos?.errors?.['maxlength']) {
            <small>Debe tener como máximo 40 caracteres.</small>
          }
          @if (apellidos?.errors?.['pattern']) {
            <small>Debe ser apellidos válidos.</small>
          }
        </div>
      }
    </div>


    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="Introduce tu correo"
      />
      @if (email?.touched && email?.invalid) {
        <div class="text-danger">
          @if (email?.errors?.['required']) {
            <small>El correo es obligatorio.</small>
          }
          @if (email?.errors?.['email']) {
            <small>Debe ser un correo válido.</small>
          }
        </div>
      }
    </div>

 
    <div class="mb-3">
      <label for="rol" class="form-label">Rol</label>
      <select id="rol" formControlName="rol" class="form-select">
        <option value="" disabled>Selecciona tu rol</option>
        <option *ngFor="let rol of roles" [value]="rol">{{ translateRol(rol) }}</option>
      </select>
      @if (rol?.touched && rol?.invalid){
      <div  class="text-danger">
        <small>El rol es obligatorio.</small>
      </div>
      }
    </div>


    <button type="submit" class="btn btn-primary me-3" [disabled]="form.invalid">Guardar</button>
    <button type="button" class="btn btn-secondary ms-3" (click)="cancelar()">Cancelar</button>
  </form>
</div>
